@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/syne";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-syne: "Syne Variable", sans-serif;
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
	--font-heading: var(--font-syne);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-success: var(--success);
	--color-warning: var(--warning);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

:root {
	--background: oklch(0.983 0.0086 84.6);
	--foreground: oklch(0.176 0.0124 226.1);
	--card: oklch(1 0 0);
	--card-foreground: var(--foreground);
	--popover: oklch(1 0 0);
	--popover-foreground: var(--foreground);
	--primary: var(--foreground);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(1 0 0);
	--secondary-foreground: var(--foreground);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.711 0.019 323.02);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.8 0.1673 334.9);
	--success: oklch(0.642 0.1085 183);
	--warning: oklch(0.766 0.1685 59.9);
	--destructive: oklch(0.68 0.2031 34.3);
	--border: var(--foreground);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.554 0.1625 287.5);
	--radius: 0.625rem;
	--shadow-card: var(--ring);
	--text-stroke: oklch(0.364 0.0293 323.9);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(7.245% 0.00663 18.742);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.8 0.1673 334.9);
	--success: oklch(0.642 0.1085 183);
	--warning: oklch(0.766 0.1685 59.9);
	--destructive: oklch(0.68 0.2031 34.3);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: var(--primary);
	--shadow-card: rgb(0 0 0 / 60%);
	--text-stroke: oklch(0.364 0.0293 323.9);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}

@utility text-stroke {
	-webkit-text-stroke: 4px var(--text-stroke);
	paint-order: stroke fill;
}

@utility text-stroke-sm {
	-webkit-text-stroke: 2px var(--text-stroke);
	paint-order: stroke fill;
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility card {
	@apply border-2 bg-card text-card-foreground rounded-lg;
}

@utility card-shadow {
	@apply shadow-[4px_4px_0px_0px_var(--shadow-card)];
}

@utility form-input {
	@apply rounded-lg border-2 p-3 hover:border-ring transition-colors;
}
