@import url("https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-geom: "Geom", sans-serif;
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
	--font-heading: var(--font-geom);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-success: var(--success);
	--color-warning: var(--warning);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-card-highlight: var(--card-highlight);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

:root {
	--background: oklch(0.983 0.0086 84.6);
	--foreground: oklch(0.263 0.024 320.12);
	--card: oklch(1 0 0);
	--card-highlight: oklch(0.9568 0.0214 285.99);
	--card-foreground: var(--foreground);
	--popover: oklch(1 0 0);
	--popover-foreground: var(--foreground);
	--primary: var(--foreground);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(1 0 0);
	--secondary-foreground: var(--foreground);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.542 0.034 322.5);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.8 0.1673 334.9);
	--success: oklch(0.642 0.1085 183);
	--warning: oklch(0.766 0.1685 59.9);
	--destructive: oklch(0.68 0.2031 34.3);
	--border: var(--foreground);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.554 0.1625 287.5);
	--radius: 0.625rem;
	--shadow-card: var(--ring);
	--text-stroke: oklch(0.364 0.0293 323.9);
	--shadow-heading: rgba(70, 57, 71, 1);

	::selection {
		background-color: oklch(0.8377 0.0887 344.06);
		color: var(--foreground);
	}
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-highlight: oklch(0.263 0.024 320.12);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(7.245% 0.00663 18.742);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.8 0.1673 334.9);
	--success: oklch(0.642 0.1085 183);
	--warning: oklch(0.766 0.1685 59.9);
	--destructive: oklch(0.68 0.2031 34.3);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: var(--primary);
	--shadow-card: rgb(0 0 0 / 60%);
	--text-stroke: oklch(0.364 0.0293 323.9);
	--shadow-heading: rgba(180, 160, 180, 0.4);

	::selection {
		background-color: rgba(244, 179, 216, 0.35);
		color: var(--foreground);
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}

	html {
		@apply font-sans;
	}
}

@layer components {
	.squiggly-line {
		--wave-size: 6px;
		--line-thickness: 4px;
		--wave-curvature: 0.4;

		--radius: calc(
			var(--wave-size) *
			sqrt(var(--wave-curvature) * var(--wave-curvature) + 1) +
			var(--line-thickness) /
			2
		);

		--mask-gradient-stops:
			#0000 calc(99% - var(--line-thickness)),
			#000 calc(101% - var(--line-thickness)) 99%, #0000 101%;

		height: calc(2 * var(--radius));
		width: var(--line-width, 194px);
		mask:
			radial-gradient(
				var(--radius) at left 50% bottom
					calc(-1 * var(--wave-curvature) * var(--wave-size)),
				var(--mask-gradient-stops)
			)
			calc(50% - 2 * var(--wave-size))
			calc(50% - var(--wave-size) / 2 - var(--line-thickness) / 2) /
			calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--line-thickness))
			repeat-x,
			radial-gradient(
				var(--radius) at left 50% top
					calc(-1 * var(--wave-curvature) * var(--wave-size)),
				var(--mask-gradient-stops)
			)
			50% calc(50% + var(--wave-size) / 2 + var(--line-thickness) / 2) /
			calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--line-thickness))
			repeat-x;
		background: var(--line-color, currentColor);

		&.-main {
			--line-thickness: 4px;
			--line-color: var(--accent-foreground);
			--line-width: 194px;
		}

		&.-stroke {
			--line-thickness: 6px;
			--line-color: var(--foreground);
			--line-width: 196px;
		}
	}
}

@utility text-stroke {
	-webkit-text-stroke: 4px var(--text-stroke);
	paint-order: stroke fill;
}

@utility text-stroke-sm {
	-webkit-text-stroke: 2px var(--text-stroke);
	paint-order: stroke fill;
}

@utility heading-shadow {
	text-shadow: 3px 3px 0px var(--shadow-heading);
}

@utility heading-shadow-sm {
	text-shadow: 1px 1px 0px var(--shadow-heading);
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility card {
	@apply border-2 bg-card text-card-foreground rounded-lg;
}

@utility card-shadow {
	box-shadow: 4px 4px 0px 0px var(--shadow-card);
}

@utility form-input {
	@apply rounded-lg border-2 p-3 hover:border-ring focus:border-ring transition-colors;
}
